<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <title>Crux Portal</title>
  <meta name="description" content="Crux (https://cruxfibre.nz/) is an open source ISP operating in New Zealand." />
  <meta name="keywords" content="Crux, ISP, Open Source, New Zealand" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Crux Portal" />
  <meta property="og:description" content="Crux Portal allowing customers to connect to the pseudo-magical internet." />
  <meta property="og:site_name" content="Crux" />
  <meta property="og:url" content="http://cruxfibre.nz" />
</head>

<body>
  <div>
    <div id="app"></div>
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
</body>

</html>
